.vscode/
.idea/
*.iml

node_modules/
dist/
data/
*.js.map

*.log
*.tmp
*.bak
*.swp
*~
__pycache__/
mise.toml

.env.secrets

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup

# only track docs/ for now
engineering/*
!engineering/docs/
